<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_TW</string>
	<key>CFBundleExecutable</key>
	<string>MeetRec</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>dev.dora.meetrec</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_TW</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>MeetRec</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>讀取瀏覽器的會議分頁標題，用來替錄音命名</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>錄下瀏覽器裡會議的聲音</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>錄下你在會議中的聲音</string>
</dict>
</plist>
